:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.logos {
  display: flex;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
  }
}

mat-icon {
  color: #ff5722;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

button[mat-raised-button] {
  margin: 32px;
}
